


    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Partage Document</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Sharing</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Companie</a></li>
                            <li><a href="#">Equipe</a></li>
                            <li><a href="#">Carriére</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Notre Companie</h3>
                        <p> “Le monde du partage devra remplacer le partage du monde.” </p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Companie © 2021</p>
            </div>
        </footer>
    </div>
    
