<div class="container" id="table_user">
  <table>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Age</th>
      <th>Statut</th>
      <th>Rôle</th>
      <th>Editer</th>
      <th>Supprimer</th>
    </tr>
    <tr *ngFor="let user of usersList">
      <td>{{ user.id }}</td>
      <td>{{ user.nom }}</td>
      <td>{{ user.prenom }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.statut }}</td>
      <td>{{ user.role }}</td>
    </tr>
  </table>
</div>
