<table mat-table class="mat-elevation-z8 demo-table" *ngFor="let user in usersList">
    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell >{{user.id}}</td>
    </ng-container>
    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell >{{user.genre}}</td>
    </ng-container>
    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell >{{user.nom}}</td>
    </ng-container>

</table>